body{
    background: #FBFBFD;
}

.top-nav{
    position: fixed;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    height: 48px;
    font-size: 17px;
    top: 0;
    text-align: left;
    max-height: 44px;
}

.style-top-nav{
    display: block;
    height: 44px;
}

.nav-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    padding: 7px 450px;
}

.nav-button img{
    margin-top: -5px;
    color: #D6D6D6;
}

.nav-button a{
    text-decoration: none;
    color: #D6D6D6;
    font-size: 14px;
}

.nav-button a:hover{
    color: #FFF;
}

.product{
    background: #ffe3fb;
    text-align: center;
    padding: 100px;
}

#img360 {
    width: 200px;
    animation-name: rotation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#img-container{
    display: flex;
    justify-content: center;
}
  
  @keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

main .product h1 {font-size: 60px;}
main .product p {font-size: 40px;}
main .product a {margin: 20px; font-size: 25px; text-decoration: none;}

.features{
    color: #1D1D1F;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background: #FBFBFD;
}

.features-img{
    margin-top: 50px;
}

main .features h1 {font-size: 60px; margin: 20px auto; vertical-align: middle;}
main .features p {max-width: 1000px; margin: 10px auto; font-size: 40px;}
main .features a {margin: 20px; font-size: 25px; text-decoration: none;}

.alert-primary{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

.homepage {
    width: 100%;
    background-color: #9B48CC;
    height: 40px;
    list-style: none;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 44px;
}
.homepage a {
    color: #fff;
}

.homepage ul{
    padding: 0;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.add{
    background: #35283C;
    color: #FFF;
    text-align: center;
}

main .add h1 {font-size: 60px; margin: 20px auto; vertical-align: middle;}
main .add p {max-width: 1000px; margin: 10px auto; font-size: 40px;}
main .add a {margin: 20px; font-size: 25px; text-decoration: none;}

.list {
    margin-top: 30px;
    background: #F5F5F7;
    display: block;
    position: relative;
    padding-top: 30px;
}

.info {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

main .info h1 {font-size: 14px;}
main .info p {font-size: 14px;}
main .aboutus p {font-size: 13px; color: #6E6E73;}

main{
    width: 100%;
}

.col1 {	
	display: inline-block;
	vertical-align: top;
    padding-right: 104px;
    margin-top: 30px;
    text-align: left;
    line-height: 12px;
}

.col2 {	
	text-align: left;
    width: 65%;
    margin: 0 auto;
}

.store {
    background: #FFF;
}

#imghome1 {
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 20px;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }

#colcol{
    padding: 50px;
}

#air-localnav{
    width: 100%;
    height: 52px;
    margin: 0;
    padding: 0;
}

#air-localnav p {margin: 0; padding: 0;}

#line-air{margin: 0; padding: 0;}

.air-localnav-title{
    float: left;
    font-size: 21px;
    font-weight: 600;
    line-height: 52px;
    width: 100px;
    text-align: center;
    margin: 0px 0px 0px;
}

.air-localnav-menu{
    float: right;
    box-sizing: content-box;
}

.air-locaknav-section{
    box-sizing: content-box;
}

.air-localnav-items{
    box-sizing: content-box;
}