{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main>
    <nav id="air-localnav">
        <div>
            <div class="air-localnav-background"></div>
            <div class="air-localnav-content">
                <div class="air-localnav-title">
                    <p>AirPods</p>
                </div>
                <div class="air-localnav-menu">
                    <div class="air-locaknav-section">
                        <ul class="air-localnav-items">
                            <li>
                                <p>item</p>
                            </li>
                            <li>
                                <p>item</p>
                            </li>
                            <li>
                                <p>item</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr id="line-air" size="3px" width="100%">
    </nav>
</main>
{% endblock %}