{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="air-localnav">
        <div class="air-localnav-background"></div>
        <div class="air-localnav-content">
            <div class="air-localnav-title">
                <p>AirPods</p>
            </div>
            <div class="air-localnav-menu">
                <div class="air-locaknav-section">
                    <ul class="air-localnav-items">
                        <li>
                            <a href="">Overview</a>
                        </li>
                        <li>
                            <a href="{% url 'specs' %}">Tech Specs</a>
                        </li>
                        <li>
                            <a href="">Compare</a>
                        </li>
                        <div class="air-localnav-action-button">
                            <a href="" class="air-localnav-button">buy</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <hr id="line-air" size="3px" width="920px">
    </div>
<main>
    <section>
        <div class="selection-content">
            <div class="airimg">
                <img src="static/main/img/airpods.jpg" alt="">
            </div>
        </div>
        <hr id="line-air" size="3px" width="920px">
    </section>
</main>
{% endblock %}