{% extends 'airpods/airpods.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main>
    <section class="slhigh">
        <div class="pt1">
            <div class="pt1header">
                <h1>yyyyaaaayyyy</h1>
                <h2>yay</h2>
            </div>
            <div class="pt1container">
                <div class="pt1img">
                    <img src="static/main/img/chugun.jpg" alt="">
                </div>
                <div class="pt1img">
                    <img src="static/main/img/chugun.jpg" alt="">
                </div>
                <div class="pt1img">
                    <img src="static/main/img/chugun.jpg" alt="">
                </div>
                <div class="pt1img">
                    <a href="{% url 'airpods' %}"><img src="static/main/img/chugun.jpg"alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}